@model UberFood.Web.ViewsModel.Burgers.BurgerDetailsViewModel
@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)€
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainAlergene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainAlergene)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>KCal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <tr>
                            <td>@ingredient.Name</td>
                            <td>@ingredient.KCal</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>
