
@model UberFood.Web.ViewsModel.Order.OrderDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
   
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderProducts)
        </dt>

            @if (Model.OrderProducts != null )
            {
            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(o => o.OrderProducts.First().ProductName)</th>
                            <th>@Html.DisplayNameFor(o => o.OrderProducts.First().ProductPrice)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.OrderProducts)
                        { 
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => product.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => product.ProductPrice)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
                
            
           
        
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>
