@model UberFood.Web.ViewsModel.Pasta.PastaViewModel

@{
    ViewData["Title"] = "Details d'un plat de pates";
}

<h1>Détails</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KCal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KCal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVegetarian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVegetarian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainAlergene)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainAlergene)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>
