@model UberFood.Web.ViewsModel.Users.UsersDetailsViewModel

@{
    ViewData["Title"] = "Suppresion d'un utilisateur";
}

<h1>Suppresion d'un utilisateur</h1>

<h3>Êtes-vous sur de vouloir supprimer ce produit ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresse.Zip)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
